# Desafio Python e SQL

### Nesse desafio, vamos fazer uma consulta em SQL com uma condição e fazer o tratamento das informações no Python usando o pandas

- Calcule o lucro diário da empresa 

- Tabela com as Vendas -> dbo.FactSales
- Lucro é -> Sales Amount - TotalCost - DiscountAmount
- Lembre que podemos ter mais de 1 transação por dia na tabela, então uma opção é usar o método groupby do pandas
- Sugestão para ajudar na análise é plotar um gráfico do lucro diário

In [1]:
import pyodbc
import pandas as pd

In [2]:
dados_conexao = ("Driver={SQL Server};"
                 "Server=DESKTOP-4E80G57;"
                 "Database=ContosoRetailDW")

conexao = pyodbc.connect(dados_conexao)
print("Conexão bem sucedida")

Conexão bem sucedida

In [3]:
vendas_df = pd.read_sql("SELECT * FROM ContosoRetailDW.dbo.FactSales", conexao)
display(vendas_df)

C:\Users\nd705\AppData\Local\Temp\ipykernel_6024\1276612843.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  vendas_df = pd.read_sql("SELECT * FROM ContosoRetailDW.dbo.FactSales", conexao)

,SalesKey,DateKey,channelKey,StoreKey,ProductKey,PromotionKey,CurrencyKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,ReturnAmount,DiscountQuantity,DiscountAmount,TotalCost,SalesAmount,ETLLoadID,LoadDate,UpdateDate
0,1,2007-01-02,1,209,956,10,1,91.05,198.00,8,0,0.00,1,39.600,728.40,1544.400,1,2010-01-01,2010-01-01
1,2,2007-02-12,4,308,766,2,1,10.15,19.90,4,0,0.00,1,0.995,40.60,78.605,1,2010-01-01,2010-01-01
2,3,2008-01-24,1,156,1175,11,1,209.03,410.00,9,0,0.00,3,61.500,1881.27,3628.500,1,2010-01-01,2010-01-01
3,4,2008-01-13,2,306,1429,10,1,132.90,289.00,8,0,0.00,1,57.800,1063.20,2254.200,1,2010-01-01,2010-01-01
4,5,2008-01-22,2,306,1133,10,1,144.52,436.20,24,0,0.00,3,261.720,3468.48,10207.080,1,2010-01-01,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3406084,3406085,2007-10-09,1,121,920,1,1,0.48,0.95,5,0,0.00,0,0.000,2.40,4.750,1,2010-01-01,2010-01-01
3406085,3406086,2007-07-08,1,89,1202,3,1,330.66,998.00,12,0,0.00,0,0.000,3967.92,11976.000,1,2010-01-01,2010-01-01
3406086,3406087,2009-03-06,2,307,1361,24,1,16.56,49.99,18,1,49.99,5,49.990,281.52,849.830,1,2010-01-01,2010-01-01
3406087,3406088,2007-02-04,1,55,539,2,1,760.38,2295.00,9,0,0.00,3,344.250,6843.42,20310.750,1,2010-01-01,2010-01-01
3406088,3406089,2009-08-05,1,31,1625,21,1,72.56,219.00,6,0,0.00,4,87.600,435.36,1226.400,1,2010-01-01,2010-01-01

In [4]:
vendas_df["Lucro"] = vendas_df["SalesAmount"] - vendas_df["TotalCost"] - vendas_df["DiscountAmount"]
display(vendas_df["Lucro"])

0            776.40
1             37.01
2           1685.73
3           1133.20
4           6476.88
             ...
3406084        2.35
3406085     8008.08
3406086      518.32
3406087    13123.08
3406088      703.44
Name: Lucro, Length: 3406089, dtype: float64

In [5]:
vendas = vendas_df.groupby(["DateKey"]).sum()
display(vendas)

C:\Users\nd705\AppData\Local\Temp\ipykernel_6024\2006875577.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  vendas = vendas_df.groupby(["DateKey"]).sum()

,SalesKey,channelKey,StoreKey,ProductKey,PromotionKey,CurrencyKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,ReturnAmount,DiscountQuantity,DiscountAmount,TotalCost,SalesAmount,ETLLoadID,Lucro
DateKey,,,,,,,,,,,,,,,,,
2007-01-01,6123323046,5785,699835,4672619,15995,3605,366532.85,836949.226,37237,533,115502.510,8402,196886.0684,3667018.43,8.310498e+06,3605,4.446594e+06
2007-01-02,6181606765,5803,693313,4682125,16094,3630,377069.54,853070.198,38193,510,124318.940,8231,204971.8391,3697809.22,8.326143e+06,3630,4.423362e+06
2007-01-03,6183627173,5698,663016,4659679,15617,3559,371929.21,843061.284,38671,594,124771.940,8386,198631.5069,3695293.94,8.409919e+06,3559,4.515993e+06
2007-01-04,5931798811,5593,658539,4432500,15599,3469,368132.73,842069.948,36968,509,126866.100,8286,193369.2363,3591397.68,8.231880e+06,3469,4.447113e+06
2007-01-05,5855827049,5578,678737,4562287,15622,3485,369473.78,840852.896,36237,561,141977.748,8228,199059.7830,3552350.93,8.089676e+06,3485,4.338266e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-12-27,4119901460,4271,519613,3019797,56905,2429,358206.68,856959.978,69757,310,104312.270,5606,367725.2467,4774254.59,1.058082e+07,2429,5.438840e+06
2009-12-28,4182642550,4296,519793,2990711,56980,2431,365180.75,878025.398,56515,409,144960.858,5638,368191.4994,4609967.37,1.025124e+07,2431,5.273078e+06
2009-12-29,4140868648,4272,521652,2955146,57482,2452,378939.27,919297.290,60455,385,156741.590,5718,379821.2060,4760565.92,1.066394e+07,2452,5.523555e+06
2009-12-30,4158659760,4304,525947,3013737,57397,2448,357752.21,858155.168,63511,348,116226.080,5766,376040.2826,4729070.24,1.050448e+07,2448,5.399371e+06
2009-12-31,4282474361,4392,532548,3083667,58484,2493,372144.11,895310.150,63972,367,139675.660,5793,382888.6015,4819134.25,1.071545e+07,2493,5.513426e+06

In [6]:
grafico = vendas["Lucro"].plot(figsize=(15, 5))

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.